@import "tailwindcss";


:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}


@layer base {
    html {
        font-size: clamp(13px, 1vw + 10px, 18px);
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}


@theme {
    --spacing-main-header: 52px;
    --spacing-content-top: calc(var(--spacing-main-header) + 64px);
}

@theme {
    --animate-highlight-up: highlight-up 1s ease-out;
    --animate-highlight-down: highlight-down 1s ease-out;
    @keyframes highlight-up {
        0% {
            background-color: rgba(255, 77, 79, 0.35)
        }
        100% {
            background-color: transparent;
        }
    }
    @keyframes highlight-down {
        0% {
            background-color: rgba(24, 144, 255, 0.35);
        }
        100% {
            background-color: transparent;
        }
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@theme {
    --text-10: 0.625rem;
    --text-10--line-height: 1.25rem;

    --text-11: 0.6875rem;
    --text-11--line-height: 1.375rem;

    --text-12: 0.75rem;
    --text-12--line-height: 1.5rem;

    --text-13: 0.8125rem;
    --text-13--line-height: 1.5rem;

    --text-14: 0.875rem;
    --text-14--line-height: 1.5rem;

    --text-15: 0.9375rem;
    --text-15--line-height: 1.625rem;

    --text-16: 1rem;
    --text-16--line-height: 1.75rem;

    --text-17: 1.0625rem;
    --text-17--line-height: 1.75rem;

    --text-18: 1.125rem;
    --text-18--line-height: 1.875rem;
}