@import "tailwindcss";


:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}


@theme {
    --animate-highlight-up: highlight-up 1s ease-out;
    --animate-highlight-down: highlight-down 1s ease-out;
    @keyframes highlight-up {
        0% {
            background-color: rgba(255, 77, 79, 0.35)
        }
        100% {
            background-color: transparent;
        }
    }

    @keyframes highlight-down {
        0% {
            background-color: rgba(24, 144, 255, 0.35);
        }
        100% {
            background-color: transparent;
        }
    }
}
