@theme {
  --text-10: 0.625rem;
  --text-10--line-height: 1.25rem;
  --text-11: 0.6875rem;
  --text-11--line-height: 1.375rem;
  --text-12: 0.75rem;
  --text-12--line-height: 1.5rem;
  --text-13: 0.8125rem;
  --text-13--line-height: 1.5rem;
  --text-14: 0.875rem;
  --text-14--line-height: 1.5rem;
  --text-15: 0.9375rem;
  --text-15--line-height: 1.625rem;
  --text-16: 1rem;
  --text-16--line-height: 1.75rem;
  --text-17: 1.0625rem;
  --text-17--line-height: 1.75rem;
  --text-18: 1.125rem;
  --text-18--line-height: 1.875rem;
}
